.main {
  width: 100%;
  height: calc(100% - 60px);
}

.sidebarOpen {
  left: 340px;
}

.viewer-container {
  position: absolute;
  right: 0;
  display: flex;
  overflow: auto;
  justify-content: center;
  background-color: white;
  z-index: 3;
  min-height: 100vh;
}