.main {
  width: 100%;
  height: calc(100% - 60px);
}

.sidebarOpen {
  left: 340px;
}

.viewer-container {
  position: absolute;
  right: 0;
  padding-top: 70px;
  display: flex;
  overflow: auto;
  justify-content: center;
}
