.title {
  height: 10%;
}

.regionDetails {
  position: absolute;
  height: 100%;
  width: 320px;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.closeIcon {
  cursor: "pointer";
  color: rgb(153, 153, 153)
}

.comparisonList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 15px;
}

.disclaimerText {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #666666;
  margin: 20px 0px 10px;
}