.toggleButton {
  pointer-events: auto;
  cursor: pointer;
  top: 20px;
  left: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  position: fixed;
  width: 20px;
  height: 40px;
      
  background: #FFFFFF;
  /* Scratch/Standard Drop Shadow */
  
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,.25),0 -1px 0 rgba(0,0,0,.1);
}

.toggleButtonClose {
  left: 0 !important;
}