.table-view {
  height: max-content;
  width: 100%;
  max-width: 1110px;
  padding-top: 80px;
}

.table-view .Collapsible__contentInner {
  padding: 0px 10px 10px;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  margin-bottom: 12px;

  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.table-data {
  padding-left: 20px;
}


.table-row>td .cell-data {
  line-height: 24px;
}

.table-row>td {
  padding: 3px 10px;
  vertical-align: middle;
}

.table-row:nth-child(even) {
  background-color: #F5F5F5;
}

.table-row>td:first-child {
  font-weight: 500;
  padding: 6px 10px;
}

.table-row>td:not(:first-child) {
  text-align: right;
}

.dataContent {
  display: flex;
}

.dataColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-data {
  margin: 0px;
}

.contentData {
  display: flex;
  justify-content: center;
  align-items: center;
}