.grid-view {
  padding: 0 25px;
  height: max-content;
  width: 100%;
  max-width: 1110px;
  padding-top: 80px;
}

/* .grid-view .Collapsible {
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%), 0px -1px 0px rgb(0 0 0 / 10%);
}

.grid-view .Collapsible__trigger {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 15px;
}

.grid-view .Collapsible__contentOuter {
  border-radius: 5px;
}

.grid-view .Collapsible__contentInner {
  padding: 5px;
} */

.grid-container {
  max-width: 1040px;
  display: flex;
  flex-wrap: wrap;
}

.grid-container .grid-item {
  width: 260px;
  display: inline-block;
  margin: 5px 0;
}

.grid-container .grid-item-head {
  padding: 0 15px;
}

.grid-container .grid-item-body {
  padding: 0 15px;
  border-right: 1px solid #e6e6e6;
  min-height: 110px;
  margin-bottom: 20px;
}

.grid-container .grid-item:nth-child(4n) .grid-item-body {
  border-right: none;
}

.grid-container .grid-item .comparison>label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 8px;
}