.container {
  height: 60px;
  position: fixed;
  z-index: 2; /* 2 for detail pane, 1 for footer logos */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  pointer-events: none;
  /* children need to opt into mouse events with pointer-events: auto */
}

.container.comparisonMode {
  background: rgba(255, 255, 255, 0.9);
}

.navbarLeft {
  margin-right: 60px;
}

.hamburgerButton {
  display: flex;
  background-color: transparent;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding-right: 2px;
  z-index: 1;
  pointer-events: auto;
}

.menu-icon-bar {
  width: 22px;
  height: 3px;
  margin: 2px 0;
  border-radius: 2px;
}

.hamburgerButton.white .menu-icon-bar {
  background-color: white;
}

.hamburgerButton.black .menu-icon-bar {
  background-color: black;
}
