.container {
  height: 60px;
  position: fixed;
  z-index: 2; /* 2 for detail pane, 1 for footer logos */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  pointer-events: none;
  /* children need to opt into mouse events with pointer-events: auto */
}

.container.comparisonMode {
  background: rgba(255, 255, 255, 0.9);
}

.navbarLeft {
  margin-right: 60px;
}

.dim-screen{
   /* Ignore our parent elements and the rest of
      the DOM hierarchy. Position and size this
      relative to the screen. */
      position: fixed;
      top: 0; /* Stretch to the edges of the screen */
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2; /* Above map and sidebar */
      background: black;
      opacity: 0.5;
      pointer-events: auto;
}


.dropdown-header{
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: 27px;
}

.close-icon{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 10px;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  min-width: 270px; 
  background-color: white; 
  position: absolute;
  top: 0px;
  bottom: 60px;
  right: 0px;
  z-index: 2;
  flex-direction: column;
  text-align: left;
  pointer-events: auto;
}

.dropdown-content .dropdownSection {
  border-top: 1px solid #CCC;
  padding: 5px 0;
}

.dropdown-content a {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px 20px 15px 27px;
  color: black;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}

.dropdown-content a:hover, .dropdown-content a:active {
  background-color: #F5F5F5;
}

.show {
  display: flex;
}

.hamburgerButton {
  display: flex;
  background-color: transparent;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding-right: 2px;
  z-index: 1;
  pointer-events: auto;
}

.menu-icon-bar {
  width: 22px;
  height: 3px;
  margin: 2px 0;
  border-radius: 2px;
}

.hamburgerButton.white .menu-icon-bar {
  background-color: white;
}

.hamburgerButton.black .menu-icon-bar {
  background-color: black;
}
