.sidebar {
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.legend {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.legend h4 {
  margin: 0;
  margin-bottom: 15px;
}

.gradient-box {
  margin-top: 10px;
}

.gradient {
  height: 15px;
  width: 200px;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #ADDC91, #6CC24A, #509E2F, #4A7729);
}

.line {
  border-right: 1px solid white;
  border-style: none dotted none none;
}

.recharts-wrapper {
  height: 30px !important;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels p {
  width: 0px;
  font-size: 10px;
  margin: 8px 0;
  margin-bottom: 0;
}

.labels p:not(:first-of-type) {
  display: flex;
  flex-direction: row-reverse;
}